<!DOCTYPE html>
<html>
    <head>
        <title>Expenses</title>
        <script src="../static/JS/sort.js"></script>
        <link rel="icon" type="image/x-icon" href="../static//Images/logo.png" />

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="../static/CSS/Expenses.css" />
        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Expense Tracker</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Visualise Data</a></li>
                    <li class="active"><a href="/expenses">View Expenses</a></li>
                    <li><a href="/add_expense">Add Transaction</a></li>
                </ul>
            </div>
        </nav>

        <html lang="en">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div class="everything">
        <div class="header-container">
            <h1>Expenses</h1>
            <div class="display">
                <button onclick="filterTable('expense')">Show Expenses</button>
                <button onclick="filterTable('income')">Show Income</button>
                <button onclick="filterTable('')">Show All</button>
            </div>
        </div>

        <table id="expenseTable" class="responsive-table">
            <thead>
                <tr>
                    <th class="name">Name</th>
                    <th>Cost</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if expenses %} {% for expense in expenses %}
                <tr class="{{ 'expense' if expense.expense_type else 'income' }}">
                    <td>{{ expense.name }}</td>
                    <td>£{{'%0.2f' %  expense.cost }}</td>
                    <td>{{ "Expense" if expense.expense_type else "Income" }}</td>


                    <td>
                    <a class="icon edit" href="{{ url_for('edit_expense', id=expense.id) }}">
                        <img src="../static/Images/edit.png" alt="Edit">
                    </a>
                    <a class="delete-button icon edit" data-id="{{ expense.id }}" >
                        <img src="../static/Images/delete.png" alt="Delete">
                    </a>

                    </td>

                </tr>
                {% endfor %} {% else %}
                <tr>
                    <td colspan="4" style="text-align: center">
                        No Data yet, try adding some below!
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <form action="/add_expense" method="get">
            <button type="submit">Add Transaction</button>
        </form>

        <form action="/goal" method="get">
            <button type="submit">Add or Edit Goal</button>
        </form>

        <form id="clearDataForm" action="/clear_data" method="post">
            <button type="button" onclick="confirmAndSubmit()">Clear ALL Data</button>
        </form>

        <script>
            function confirmAndSubmit() {
                const userConfirmed = window.confirm("Are you sure you want to clear ALL data?");
                if (userConfirmed) {
                    document.getElementById("clearDataForm").submit();
                }
            }
        </script>
        </div>
    </body>
</html>
