<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../static/pie.js"></script>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Expense Tracker</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/visualise">Visualise Data</a></li>
                    <li><a href="/expenses">View Expenses</a></li>
                    <li><a href="/add_expense">Add Expense</a></li>
                </ul>
            </div>
        </nav>
    </head>
    <body></body>
</html>
