<!DOCTYPE html>
<html>
    <head>
        <title>Visualise Data</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <link rel="icon" type="image/x-icon" href="../static/Images/logo.png" />
        <link rel="stylesheet" href="../static/CSS/Visualise.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <html lang="en" >
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Expense Tracker</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Visualise Data</a></li>
                    <li><a href="/expenses">View Expenses</a></li>
                    <li><a href="/add_expense">Add Transaction</a></li>
                </ul>
            </div>
        </nav>

        <div class="banner">
            <p id="welcome">Welcome to My Expense Tracker</p>
        </div>

        <div class="content-wrapper">
            <div class="info">
                <h1>Your Total Expenditure (£)</h1>
                <h2 id="expense">{{'%0.2f' % total_expense}}</h2>
                <h1>Your Total Income (£)</h1>
                <h2 id="income">{{'%0.2f' % total_income}}</h2>
                <h1>Your Remaining Balance (£)</h1>
                <p>(income - expenses)</p>
                <h2>{{'%0.2f' % (total_income - total_expense)}}</h2>
                {% if goal %}
                <table>
                    <thead>
                        <tr>
                            <th>Goal Name</th>
                            <th>Goal Value (£)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="goal_name">{{ goal.name }}</td>
                            <td id="goal_value">{{'%0.2f' % goal.cost }}</td>
                        </tr>
                    </tbody>
                </table>
                {% else %}
                <div id="goal_name"></div>
                <p id="goal_value">No goal set yet.</p>
                {% endif %}
            </div>

            <!-- Adding charts div -->
            <div class="charts">
                <div style="width: 100%; margin: auto">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div style="width: 100%; margin: auto; height: 400px">
                    <canvas id="myBarChart"></canvas>
                </div>
                <p id="dummy"></p>
            </div>
        </div>

        <script src="../static/JS/pie.js"></script>
    </body>
</html>
